.top-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-container div {
    width: 31%;
    min-height: 43vh;
    border: 0.1px solid #640D5F;
    border-radius: 10px;
    padding: 20px;
}

.top-container div .head {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 20px;
}

.top-container div input {
    width: 80%;
    margin-right: 18px;
    height: 32px;
    border-radius: 8px;
}

.top-container div button {
    height: 32px;
    width: 32px;
    border-radius: 10px;
    background-color: #640D5F;
}